.help {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}
.help.visible {
    visibility: visible;
}

.help-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
}

.help-wrapper {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
.help-wrapper.hidden {
    visibility: hidden;
}
.help-menu {
    height: 90%;
    border: 1px solid #315067;
    border-radius: var(--border-radius);
    overflow: hidden;
}
.help-menu-header {
    background: #315067;
    color: white;
}
.help-menu-content {
    background: white;
    height: 100%;
}
.help-tutorial-button {
    align-self: end;
}
.help-tutorial-window {
    position: absolute;
    visibility: hidden;
    background: white;
    color: #315067;
    border: 1px solid #315067;
    border-radius: var(--border-radius);
    padding: 5px;
}
.help-tutorial-window.visible {
    visibility: visible;
    min-width: 10%;
}
.help-tutorial-text {

}
.help-tutorial-next {
    float: right;
}

.tutorial-focus {
    position: relative;
    z-index: 2;
    box-shadow: 0 0 0 2px yellow;
}