:root {
    --tile-size: 30px;
    --gap-size: 7px;
    --outer-gap-size: 22px;
    --border-radius: 5px;
}

.wrapper {
    display: grid;
    grid-template-columns: 0.5fr auto;
    grid-template-rows: 0.5fr auto;
    gap: 10px;
}

.phases {
    width: 100%;
    grid-row-end: 1;
    grid-column-start: span 2;
}

.dicepool {
    grid-row-start: 1;
    width: min-content;
}

.game {
    grid-row-start: 1;
}