:root {
    --tile-size: 30px;
    --gap-size: 7px;
    --outer-gap-size: 22px;
    --border-radius: 5px;
}

.character {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.character-health {
    --row-count: 3;
    --column-count: 3;
    display: grid;
    grid-template-columns: repeat(var(--row-count), 1fr);
    grid-template-rows: repeat(var(--row-count), 1fr);
    width: max-content;
    gap: 4px 0;
}

.character-health-element {
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    border: 1px black solid;
}

.character-health-icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.character-health-icon {
    background-image: url("../assets/img/plus.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 9px;
    width: 9px;
}

.character-xp-points {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: min-content;
    gap: 0px 5px;
}

.character-xp-points-part {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: min-content;
    padding-right: 5px;
    border-right: solid #c9cacb 1px;
}
.character-xp-points-part:last-child {
    border-right: none;
}

.character-xp-point {
    margin: 1px;
    width: 0.8em;
    height: 0.8em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
}

.character-xp-point:checked {
    background-color: black;
}

.map {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px 30px;
}

.dungeon {
    background-color: #e6e5e5;
    border-radius: var(--border-radius);
    width: max-content;
}

.dungeon-title {
    padding: 5px 0;
    display: flex;
    align-items: center;
    border-bottom: #8c8581 3px solid;
    margin: 0 var(--outer-gap-size);
}

.dungeon-name {
    font-weight: bold;
    font-family: Cambria;
    font-size: 24px;
    font-variant: small-caps;
    color: #8c8581;
}

.dungeon-dices {
    margin-left: auto;
    display: flex;
}

.dungeon-dice, .dungeon-wandering-dice {
    background-size: contain;
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
}

.dungeon-dice {
    background-image: url("../assets/img/evilDice.svg");
}
.dungeon-wandering-dice {
    background-image: url("../assets/img/wanderingMonster.svg");
}

.dungeon-grid {
    --row-count: 6;
    --column-count: 6;
    display: grid;
    grid-template-columns: repeat(var(--row-count), 1fr);
    grid-template-rows: repeat(var(--column-count), 1fr);
    gap: var(--gap-size);
    padding: calc(var(--outer-gap-size) / 2) var(--outer-gap-size);
    width: calc(var(--row-count) * var(--tile-size) + (var(--row-count) - 1) * var(--gap-size) + var(--outer-gap-size));
    height: calc(var(--column-count) * var(--tile-size) + (var(--column-count) - 1) * var(--gap-size) + calc(var(--outer-gap-size) / 2));
}

.tile {
    border-radius: var(--border-radius);
}

.tile-space, .tile-trap {
    background-color: white;
}

.tile-wall {
    background-color: #b9b5b3;
}

.tile-monster,
.tile-item,
.tile-entry,
.tile-exit,
.tile-trap,
.tile-lock {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.tile-entry {
    background-image: url("../assets/img/door.svg");
}

.tile-exit {
    background-image: url("../assets/img/chest.svg");
}

.tile-coin {
    background-image: url("../assets/img/items/coin.svg");
}

.tile-potion {
    background-image: url("../assets/img/items/potion.svg");
}

.tile-doubleCoin {
    background-image: url("../assets/img/items/doubleCoin.svg");
}

.tile-key {
    background-image: url("../assets/img/items/key.svg");
}

.tile-poison {
    background-image: url("../assets/img/items/poison.svg");
}

.tile-teleportPotion {
    background-image: url("../assets/img/items/teleportPotion.svg");
}

.tile-guardian {
    background-image: url("../assets/img/monsters/guardian.svg");
}

.tile-orc {
    background-image: url("../assets/img/monsters/orc.svg");
}

.tile-dragon {
    background-image: url("../assets/img/monsters/dragon.svg");
}

.tile-fog {
    background-image: url("../assets/img/traps/fog.svg");
}

.tile-lock {
    background-color: #b9b5b3;
    background-image: url("../assets/img/lock.svg");
}